<span class="login100-form-title p-b-49">
    Listar usuario
</span>


<ul>
    <li *ngFor="let usuario of usuarios ">
            <span class="label-input100">{{ usuario.name}} - {{usuario.email }}</span>
    </li>
</ul>

<div class="text-right p-t-8 p-b-31"></div>
    
<div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button (click)="onRegresar()"
                 class="login100-form-btn"
                type="button"
                >
            Regresar
        </button>
    </div>
</div>
 